.bld {
    font-weight: 900;
    background: #BB752D;
    background: linear-gradient(60deg,rgba(187, 117, 45, 1) 43%, rgba(9, 70, 149, 1) 59%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}