@media (prefers-color-scheme: dark) {
    .title {
        background-color: var(--p-gray-950);;
        color: #FFFFFF;
    }

    .subtlt {
        background-color: var(--p-gray-950);
        color: var(--p-zinc-200);
    }
}